@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* PAGE4 */

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq{ 
   display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 800px;}

.h1{
  font-size: 64px;
  font-family: Parisienne;
}

.h2{
  width: 800px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
color: #000000;
}

.creBtn{
width: 190px;
height: 44px;
font-family: Vidaloka ;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 36px;
color: #FFFFFF;
width: 821px;
height: 78px;
background: #CE2B2B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 24px;
}

.sec{
  width: 784px;
height: 29px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
color: #000000;
}

.inp{
  margin: 20px;
  width: 821px;
height: 58px;
background: #FCFCFC;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
