
@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.container{
    display: flex;
  flex-direction: column;
  align-items: center;
}

FAQ{
    padding-left: 10px;
}

.FAQi{

}