@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* PAGE2 */

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.castle{
  margin: 3px;
  left: 11.4%;
  right: 11.4%;
  top: 0%;
  bottom: 0%;
}

.line{
  margin: 5px;
}

.faq{
 margin-top:1px;
 width: 800px;
 display: flex;
 justify-content: flex-end;

}

.h1{
  font-family: Parisienne;
  width: 244.35px;
  height: 86.56px;
 
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 64px;
  color: #000000;
  mix-blend-mode: normal;
  transform: rotate(0.43deg);
}



.creBtn{

width: 821px;
height:60px;
background: #CE2B2B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 24px;
margin: 30px;
width: 821px;
height: 44px;
font-family: Vidaloka ;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 36px;
color: #FFFFFF;
width: 821px;
height: 60px;
background: #CE2B2B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 24px;
outline: none;
border: none;
cursor: pointer;
}

.got{
  margin-top: 3px;
  margin: 5px;
width: 96px;
height: 43px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 36px;
color: #000000;
}

.your{
  margin: 5px;
  width: 361px;
height: 29px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
color: #000000;

}

.h2{
  align-items: flex-end;
  width: 413px;
height: 29px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
color: #000000;
width: 800px;
justify-content: flex-start;
}

.inp1{
 
  width: 300px;
  height: 30px;
  margin: 2px;

}


FAQ{
  font-family: Parisienne;
  padding-left:10px
}